.memory-game {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0 auto;
}

.memory-card {
  width: 150px;
  height: 150px;
  margin: 10px;
  perspective: 1000px;
}

.memory-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.front-face {
  transform: rotateY(0deg);
  z-index: 2;
}

.back-face {
  transform: rotateY(180deg);
}

h1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
